.cart {
  margin: auto;
  padding: 10px;
  width: 600px;

  /* border: 2px solid black; */

}

.headerCart {
  background-color: #2e94dd;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: 700;
  height: 90px;
  justify-content: center;
  width: 100%;
}

.cartItens {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}

.cartItens :hover {
  box-shadow: 10px 5px 5px  rgb(167, 167, 167);
}

