.product-page {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  left: 38%;
  margin-bottom: 1px;
  margin-left: -110px;
  margin-top: -40px;
  max-height: 1px;
  position: absolute;
  top: 25%;
  width: 885px;
}

section {
  display: flex;
}
