.product-page {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  max-height: 500px;
  max-width: 40%;
}

section {
  display: flex;
}
